.avatar-image {
  display: flex;
  margin: 0 auto;
  max-width: 780px;
  align-items: center;
  justify-content: space-around;
  background: url("../../img/avatar.png");
  background-size: cover;
  border-radius: 50%;
  height: 128px;
  width: 128px;
}

.intro-container {
  display: table-cell;
  vertical-align: middle;
  width: 40%;
  float: left;
}

.intro {
  margin: 0;
}

.skill-bar-container {
  display: table-cell;
  vertical-align: middle;
  width: 40%;
  min-width: 350px;
  float: right;
}

@media only screen and (max-width: 992px) {
  .intro-container {
    display: block;
    width: 75%;
    margin: 0 auto;
    float: none;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 992px) {
  .skill-bar-container {
    display: block;
    width: 75%;
    margin: 0 auto;
    float: none;
  }
}
