.header-wrapper {
  background-color: #222831;
  position: relative;
  height: 100vh;
}

.header {
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
}

.text {
  position: absolute;
  color: #fff;
  font-size: 32pt;
  text-align: center;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
}

.highlight {
  color: #f9ab48;
  font-weight: 600;
}
