.dropbtn {
  background: #1b242f;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  background: #1b242f;
  border-bottom: 3px solid #f9ab48;
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-content {
  background: #333;
  display: none;
  position: absolute;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  transition: height 0.3s ease-out;
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  cursor: pointer;
  text-decoration: none;
  display: block;
  font-weight: 500;
  text-transform: uppercase;
  transition: color 0.3s ease-out;

  &:hover {
    color: #ff9300;
    transition: color 0.3s ease;
  }
}

.dropdown-content ul {
  list-style-type: none;
  overflow: visible;
  padding: 0;
  position: initial;
  text-align: left;
}

.show {
  display: block;
}

.hide {
  display: none;
}
